<h1>Bonjour ! Veuillez confirmer votre inscription</h1>

<p>
    Confirmez votre adresse mail en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl }}">Confirmez votre email</a>.
    Ce lien va expirer dans  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>
